#keyboard {
   padding: 30px 20px;
}

.operator,
.number {
   width: 45px;
   height: 45px;
   border-radius: 50%;
   border: none;
   background-color: var(--bg);
   font-weight: 900;
   font-size: 18px;
   cursor: pointer;
   box-shadow: var(--color-shadow);
}

.group {
   width: 185px;
   float: left;
}

.top-section {
   height: auto;
   position: relative;
   display: flex;
   justify-content: space-around;
   padding: 4px 6px;
   border-radius: 30px;
   margin-left: 10px;
   background: var(--bg);
   box-shadow: var(--color-shadow);
}

.top-section button {
   margin-top: 2px;
}

.middle-section {
   height: auto;
   position: relative;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   align-items: center;
   border-radius: 30px;
   margin-top: 2px;
   margin-left: 10.4px;
}

.middle-section button {
   margin: 3px;
   /* color: var(--color-text); */
   color: #4285F4;
   /* color: #FBBC05; */
   /* color: #EA4335; */
   /* color: #34A853; */
   font-weight: 600;
}

.side-section {
   float: left;
   height: 254px;
   position: relative;
   display: flex;
   flex-direction: column;
   padding: 5px 4px;
   border-radius: 30px;
   justify-content: space-between;
   margin-left: 10px;
   background: var(--bg);
   box-shadow: var(--color-shadow);
}

.side-section button {
   margin-left: 2px;
}

.equal {
   background-color: var(--color-orange);
   /* background-color: #4285F4; */
   background-color: #FBBC05;
   /* background-color: #EA4335; */
   /* background-color: #34A853; */
   color: #fff !important;
   box-shadow: var(--color-equal-shadow);
}

.operator {
   /* color: var(--color-orange); */
   /* color: #4285F4; */
   /* color: #FBBC05; */
   /* color: #EA4335; */
   color: #34A853;
}

.operator:active,
.number:active,
.operator:hover,
.number:hover {
   box-shadow: var(--color-inset-shadow);
}

.equal:active,
.equal:hover {
   background: var(--color-orange);
   box-shadow: var(--color-inset-shadow);
}